.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	outline: 0;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	cursor: pointer;
}
/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	height: 0.6em;
	background-repeat:no-repeat; 
	border:none;
	width:100%;
}
/*.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
	background-image: url(../price_indicator1.gif);
	width:25px;
}*/
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-horizontal .first-handle{
	top: -.3em;
	margin-left: -1.0em;
	background-image: url(../images/price_slider_left.png);
    border:none;
	width: 27px; 
	background-repeat: no-repeat; 
	height: 17px; 
	top: 0px; 
	left: 1px;
	cursor: pointer;
}
.ui-slider-horizontal .second-handle {
	top: -.3em;
	margin-left: -1.0em;
	background-image: url(../images/price_slider_right.png);
    border:none;
	width: 27px; 
	background-repeat: no-repeat; 
	height: 17px; 
	top: 0px; 
	left: 185px;
	cursor: pointer;
}
.ui-slider-horizontal .first-handle-time{
	top: -.3em;
	margin-left: -.3em;
	background-image: url(../images/time_slider_left.png);
    border:none;
	width: 27px; 
	background-repeat: no-repeat; 
	height: 17px; 
	top: 0px; 
	left: 2px;
	cursor: pointer;
}
.ui-slider-horizontal .second-handle-time {
	top: -.3em;
	margin-left: -.46em;
	background-image: url(../images/time_slider_right.png);
    border:none;
	width: 27px; 
	background-repeat: no-repeat; 
	height: 17px; 
	top: 0px; 
	left: 185px;
	cursor: pointer;
}
/**START_Changes for Bus Portal header part on 09/10/2013 */
.tablesorter th {
    border: #cdcdcd 1px solid;
    border-width: 0 1px 1px 0;
}
.tablesorter-header-inner {
    padding-right: 20px;
    background-position: center center;
}
.tablesorter-header {
    background-image: url(../images/black-unsorted.gif);
    background-repeat: no-repeat;
    background-position: center right;
    white-space: normal;
    cursor: pointer;
    padding-left: 10px;
}
.tablesorter-headerAsc {
   background-image: url(../images/black-asc.gif);
   background-repeat: no-repeat;
   background-position: center right;
   padding-left: 10px;
}
.tablesorter-headerDesc {
   background-image: url(../images/black-desc.gif);
   background-repeat: no-repeat;
   background-position: center right;
   padding-left: 10px;
}
/**END_Changes for Bus Portal header part on 09/10/2013 */